@font-face {
  font-family: "kyn";
  src: url("../public/fonts/Kyn-Regular.ttf");
}
@font-face {
  font-family: "kyn-lt";
  src: url("../public/fonts/Kyn-Light.ttf");
}
@font-face {
  font-family: "kyn-bold";
  src: url("../public/fonts/Kyn-Bold.ttf");
}
@font-face {
  font-family: "kyn-md";
  src: url("../public/fonts/Kyn-Medium.ttf");
}
@font-face {
  font-family: "kyn-semibold";
  src: url("../public/fonts/Kyn-SemiBold.ttf");
}